# General
.DS_Store
.idea/
.vscode/
*.log

# Backend (Go)
backend/bin/
backend/dist/
backend/vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
backend/go.sum

# Mobile (Flutter)
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/ios/Flutter/App.framework
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/app.flx
mobile/ios/Flutter/app.zip
mobile/ios/Flutter/flutter_assets/
mobile/ios/ServiceDefinitions.json
mobile/ios/Runner/GeneratedPluginRegistrant.*
mobile/android/local.properties
mobile/pubspec.lock

# Exam Data
*.exam
*.ans
